
body{
    background-color: rgb(244, 245, 210);
}      
.contact{
    letter-spacing: 1px;
    margin-bottom: -20px;
    font-size: 26px;
    text-align: center;
    color: darkgreen;
}  
.location{
    letter-spacing: 1px;
    margin-bottom: -20px;
    line-height: 0 px;
    font-size: 26px;
    text-align: center;
}
.title{
    letter-spacing: 1px;
    margin-bottom: -60px;
    display: flex;
    padding-left: 100px;
    padding-top: 20px;
    font-size: 27px;
    text-align: center;
    color: rgb(35, 4, 122);     
    border-radius: 40px;                   
}
.header{
    background-color: rgb(245, 247, 248);
    background:repeating-linear-gradient(rgb(243, 201, 201),rgb(206, 206, 243),rgb(217, 240, 217));
}
.info{
    margin-top: -15px;
    margin-bottom: -15px;
    line-height: 1px;
    text-align:center;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.nav{
    display: flex;
    justify-content:space-evenly;
}
a{
    color: saddlebrown;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}
a:hover{
    font-size: 17px;
    color:whitesmoke;
    background-color:rgb(238, 68, 68);
    box-shadow: 0px 0px 3px red;
}
